@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html,
body {
  color: rgb(var(--foreground-rgb));
  overflow-x: hidden;
  max-width: 100%;
}

.input{
  @apply w-full;
}
.btn{
  @apply uppercase border-none text-2xl min-w-60;
  &.btn-accent {
      @apply bg-accent text-bg;
    }
} 

.form-group{
  label{
    @apply block text-black font-bold  mb-1  pr-4 uppercase;
    &.required:after {
        content: " *";
        color: red;
      }
  }
  input{
    @apply uppercase;
    &.input-primary{
      @apply border-none;
    }
    &[type='checkbox']{
      background-color: #f1eee9;
    }
  }

}

#qrCodeimage{
  max-Width: 100%;
  height: auto!important;
}

.headerOutline{
  opacity: 0.5;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #df3012;
  width: max-content;
  left: 50%;
  transform: translateX(-50%);
  bottom: 42%;
  overflow-x: hidden;
}

